$primary-main: #f4f4f4;
$primary-light: #ffffff;
$primary-dark: #d8d8d7;
$primary-content: #b6acac;

$primary-text-white: #f4f4f4;
$primary-text-light: #03346E;
$primary-text-dark: #01224b;

$primary-datatable-color: #cecece;
    
$primary-box-content: #eeeeee;
$primary-box-content-dark: #e4e4e4; 

// this is the button color
$primary-btn-light: #03346E;
$primary-btn-dark: #01224b;

$primary-scroll-light: #03346E;

$primary-normal-light: #c7c7c7;
$primary-hover-light : #fcfcfc;
$primary-toggle-light: #c0b6bf;
$primary-active-light: #fcfcfc;

// -----------------------------------------------------------

$secondary-text-light: #222222;
$secondary-text-dark: #222222;


// dashboard accents
$dashboard-accent: $primary-normal-light;
$dashboard-accent-strong: $primary-normal-light;


$primary-main: #f4f4f4;
$primary-light: #ffffff;
$primary-dark: #FFFDF1;
$primary-content: #8d5f5f;

// -----------------------------------------------------------

$secondary-text-light: #03346E;
$secondary-text-dark: #0f0f0f;
$primary-contrast: #f4f4f4;





// $primary-main: #121212;
// $primary-light: #3a3636;
// $primary-dark: #161616;

// $primary-text-light: #ebebeb ; 
// $primary-text-dark: #313131; 

// $primary-box-content: #242323;
// $primary-box-content-dark: #292929; 

// // this is the button color
// $primary-btn-light: #473d3d;

// $primary-normal-light: #c7c7c7;
// $primary-hover-light : #fcfcfc;
// $primary-toggle-light: #c0b6bf;
// $primary-active-light: #fcfcfc;

// // -----------------------------------------------------------

// $secondary-text-light: #222222;
// $secondary-text-dark: #222222;


// // dashboard accents
// $dashboard-accent: $primary-normal-light;
// $dashboard-accent-strong: $primary-normal-light;