$primary-main: #454040;
$primary-light: #ffffff;
$primary-dark: #302f2f;
$primary-content: #8d5f5f;

// this are the main text
$primary-text-light: #f4f4f4 ;
$primary-btn-light: #6d6464;
$primary-text-dark: rgb(54, 36, 36);


$primary-normal-light: #c7c7c7;
$primary-hover-light: #fcfcfc;
$primary-toggle-light: #c0b6bf;
$primary-active-light: #fcfcfc;
// -----------------------------------------------------------

$secondary-text-light: #929292;
$secondary-text-dark: #000000;
$primary-contrast: #d1d1d1;

// dashboard accents
$dashboard-accent: $primary-normal-light;
$dashboard-accent-strong: $primary-normal-light;

// dashboard accents
$dashboard-accent: #dce5f0;
$dashboard-accent-strong: #e4e3e3;



// $primary-main: #f4f4f4;
// $primary-light: #ffffff;
// $primary-dark: #FFFDF1;
// $primary-content: #8d5f5f;

// // this are the main text
// $primary-text-light: #03346E ;
// $primary-text-dark: #01224b;

// // -----------------------------------------------------------

// $secondary-text-light: #03346E;
// $secondary-text-dark: #0f0f0f;
// $primary-contrast: #f4f4f4;